.message-robot {
    display: flex;
}

.message-user {
    display: flex;
}

.msg {
    border: 2px solid #fefbd8;
    border-radius: 8px;
    background-color: #fefbd8;
    padding: 8px;
    margin-left: 3px;
    margin-bottom: 10px;
}

.msg-author {
    font: 400 16px/16px Roboto;
}

.msg-text {
    font: 400 12px/12px Roboto;
}
.msg-wrapper {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.msg-field {
    display: flex;
    flex-direction: column;
    height: 60vh;
    overflow-y: auto;
}

.msg-controls {
    min-height: 6vh;
    align-self: center;
}

.chanel-link {
    text-decoration: none;
}

.chanel {
    cursor: pointer;
}

.chanel:hover {
    color: white;
    background-color: grey;
}

.ch-animated {
    animation-duration: 1s;
    animation-name: message;
}

@keyframes message {
    from {
        background-color: white;
    }
    to {
        background-color: white;
    }
    50% {
        background-color: #3f51b5;
    }
}
.chanels-wrap {
    min-height: 80vh;
}
.footer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.footer-text {
    font: 400 16px/16px Roboto;
}
